#wrapper {
    width: 100%;
    overflow: auto;
}

#menu {
    float: left;
    width: 20%;
}

#content {
    margin: 0 0 0 0px;
}

.menu {
    height:100%;
    width:200px;
    background-color:#fff;
    position:fixed!important;
    z-index:1;
    overflow:auto;
    background-color: lightblue;
}

.menu-block {
    width:100%;
    display:block;
    text-align:left;
    border:none;
    white-space:normal;
    float:none;
    outline:0;
}

a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: block;
  }
  
a:hover, a:active {
    background-color: tan;
}

#menu {
    height: 50%;
    width: 1px;
    opacity: 0;
    transition: all .75s ease;
}
  
 #menu.show {
    opacity: 1;
    height: 50%;
    width: 35%;
}
